{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}LinkUp - Make Your Meeting{% endblock title %} //modifying the title
{% block nav-style %} {% endblock nav-style %}
{% block content %}

<center>
    <h5>About Us</h5>

<div class="row">
  <div class="column">
    <img src="/static/images/photo1.jpg"  style="width:25%">
  </div>
</div>
</center>



<div class="section">
    <center>
        <ul>
            <li>  <a href="https://www.google.com">Kevin Rafferty - Project Manager</a>  </li>
            <li>  <a href="https://www.google.com">Eric Luong - Software Architect</a>  </li>
            <li>    <a href="https://www.google.com">Kyle Yokotake - Algorithm Specialist</a> </li>
         <li>  <a href="https://www.google.com">Emelie Ashdown - Senior System Analyst</a> </li>
     <li>         <a href="https://www.google.com">Ardel Alegre - Business Analyst</a>  </li>
     <li>         <a href="https://www.google.com">Aramis Conde - User Interface Specialist</a>   </li>
      <li>        <a href="https://www.google.com">Cole Tynan-Wood - User Interface Specialist</a>  </li>
         <li>     <a href="https://www.google.com">Justin Gross - Software Development Lead</a>  </li>
          <li>    <a href="https://www.google.com">Jason Avalos - Database Specialist</a>   </li>
         <li>  <a href="https://www.google.com">Atul Antil - Quality Assurance Lead</a>    </li>
        </ul>
    </center>
</div>




{% endblock content %}