{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}LinkUp - Make Your Meeting{% endblock title %} //modifying the title
{% block nav-style %} {% endblock nav-style %}
{% block content %}
    <center>
        <section class="section">
            <h1 class="title is-size-1">About Us</h1>
            <hr>
            <div class="section">
                <h3 class="is-size-3">Who Are We?</h3>
                <br>
                <p class="box">
                    We are a group of students from University of California San Diego (UCSD)
                    that got together in CSE 110. We founded the idea from the struggles we had
                    organizing a meeting time with a large group of ten members. We created
                    LinkUp as a way to ease the creation of meetings with even the busiest of
                    schedules.
                </p>
            </div>
            <div class="section">
                <h3 class="is-size-3">Meet the Team!</h3>
                <br>
                <div class="box">
                    <p> Kevin Rafferty - Project Manager
                        <a href = "mailto: kevinryanrafferty@gmail.com"><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Eric Luong - Software Architect
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Kyle Yokotake - Algorithm Specialist
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Emelie Ashdown - Senior System Analyst
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Ardel Alegre - Business Analyst
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Aramis Conde - User Interface Specialist
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Cole Tynan-Wood - User Interface Specialist
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Justin Gross - Software Development Lead
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Jason Avalos - Database Specialist
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                    <p>Atul Antil - Quality Assurance Lead
                        <a href = "mailto: "><img src="/static/images/email-icon.png"/></a>
                    </p>
                </div>
            </div>
        </section>
        <section class="section">
            <h3 class="is-size-3">Pictures!</h3>
            <br>
            <div class="box">
                <img src="/static/images/photo1.jpg"  style="width:25%">
                <img src="/static/images/photo2.jpg"  style="width:25%">
                <img src="/static/images/photo3.jpg"  style="width:25%">
            </div>
        </section>
    </center>
{% endblock content %}