{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}LinkUp - Make Your Meeting{% endblock title %} //modifying the title
{% block nav-style %} {% endblock nav-style %}
{% block content %}
<center>
	<section class="section">
        <div class="section">
            <nav class="breadcrumb has-succeeds-separator is-large has-background-white" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/" class="is-active" aria-current="page">About Us</a></li>
  </ul>
</nav>
		<h1 class="title is-size-1">About Us</h1>
		<hr>
		<div class="container is-fluid" id="content">
			<section data-section-id="1" data-component-id="15a7_7_02_awz" data-category="team" class="section">
				<div class="container has-text-centered">
					<h2 class="title" data-config-id="header">Meet the Team!</h2>
					<p class="subtitle" data-config-id="description">We are the people that made this whole thing possible!</p>
					<div class="columns is-centered is-multiline" data-config-id="team_02">
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="/static/images/kevin.jpg" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Kevin Rafferty</h5>
							<p class="subtitle is-6">Project Manager</p>
							<a class="subtitle" href = "mailto: kevinryanrafferty@gmail.com"><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="/static/images/eric.jpg" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Eric Luong</h5>
							<p class="subtitle is-6">Software Architect</p>
							<a class="subtitle" href = "mailto: erluong@ucsd.edu"><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="/static/images/kyle.jpg" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Kyle Yokotake</h5>
							<p class="subtitle is-6">Algorithm Specialist</p>
							<a class="subtitle" href = "mailto: masami.kyle@gmail.com"><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="/static/images/emelie.jpg" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Emelie Ashdown</h5>
							<p class="subtitle is-6">Senior System Analyst</p>
							<a class="subtitle" href = "mailto: emelieashdown@gmail.com"><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Ardel Alegre</h5>
							<p class="subtitle is-6">Business Analyst</p>
							<a class="subtitle" href = "mailto: "><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Aramis Conde</h5>
							<p class="subtitle is-6">User Interface Specialist</p>
							<a class="subtitle" href = "mailto: "><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="/static/images/cole.jpg" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Cole Tynan-Wood</h5>
							<p class="subtitle is-6">User Interface Specialist</p>
							<a class="subtitle" href = "mailto: c0l3tw@gmail.com"><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="/static/images/justin_profile_pic.jpeg" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Justin Gross</h5>
							<p class="subtitle is-6">Software Development Lead</p>
							<a class="subtitle" href = "mailto: jggross@ucsd.edu"><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="/static/images/jason.jpg" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Jason Avalos</h5>
							<p class="subtitle is-6">Database Specialist</p>
							<a class="subtitle" href = "mailto: javalosm@ucsd.edu"><img src="/static/images/email-icon.png"/></a>
						</div>
						<div class="column is-3">
							<div class="level">
								<div class="level-item">
									<figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
								</div>
							</div>
							<h5 class="title is-5">Atul Antil</h5>
							<p class="subtitle is-6">Quality Assurance Lead</p>
							<a class="subtitle" href = "mailto: atulantil@gmail.com"><img src="/static/images/email-icon.png"/></a>
						</div>
					</div>
				</div>
			</section>
		</div>
            </div>
	</section>
    <section class="section">
        <div class="section">
			<h3 class="is-size-3">Who Are We?</h3>
			<br>
			<p class="box">
				We are a group of students from University of California San Diego (UCSD)
				that got together in CSE 110. We founded the idea from the struggles we had
				organizing a meeting time with a large group of ten members. We created
				LinkUp as a way to ease the creation of meetings with even the busiest of
				schedules.
			</p>
        </div>
    </section>
	<section class="section">
		<h3 class="is-size-3">Pictures!</h3>
		<br>
		<div class="box">
			<img src="/static/images/photo1.jpg"  style="width:25%">
			<img src="/static/images/photo2.jpg"  style="width:25%; transform:rotate(90deg);">
			<img src="/static/images/photo3.jpg"  style="width:25%">
		</div>
	</section>
</center>
{% endblock content %}

