{% load static %}
<script src="{% static 'js/availabilityCalendar.js' %}"></script>
<script src="{% static 'js/timezoneHandler.js' %}"></script>
<link href="{% static 'css/availabilityCalendar.css' %}" rel="stylesheet" />

<script>
    var token = '{{ csrf_token }}'
</script>

<div class="table-container" style="overflow-y:scroll; overflow-x:scroll;">
    <table id="calendar_table" class="user table is-bordered is-fullwidth">
        <thead>
            <tr id="user-availability-header">
                <th>Hour</th>
                {% for date in availability_dates %}
                    <th>{{date|date:"M d"}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="hide-scroll">
            {% for time, dates in busy_times.items %}
                <tr>
                    <th>{{time}}</th>
                    {% for date in dates %}
                        {% if date %}
                            <td class="busy-time"></td>
                        {% else %}
                            <td class="free-time"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>