{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}LinkUp - Make Your Meeting{% endblock title %} //modifying the title
{% block nav-style %} {% endblock nav-style %}
{% block content %}
    <br>
    <br>
    <section class="hero is-fullheight">
        <div class="section">
        <nav class="breadcrumb has-succeeds-separator is-large has-background-white" aria-label="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact/" class="is-active" aria-current="page">Contact Us</a></li>
          </ul>
        </nav>
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-two-thirds has-text-left">
						<h1 class="title is-1">Contact Us</h1>
						<p class="is-size-4">We would love to hear from you! Give us suggestions on how to improve!</p>
                        <p class="is-size-4">If you find a bug on LinkUp, please report it!
                            <a class="button is-info is-small is-size-4" href="/report_an_issue/"> Report an Issue </a>
                        </p>
					</div>
					<div class="column is-one-third has-text-left">
						<div class="field">
							<h1 class="title is-size-5">Name</h1>
							<div class="control">
								<input class="input is-medium" type="text">
							</div>
						</div>
						<div class="field">
							<h1 class="title is-size-5">Email</h1>
							<div class="control">
								<input class="input is-medium" type="text">
							</div>
						</div>
						<div class="field">
							<h1 class="title is-size-5">Message</h1>
							<div class="control">
								<textarea class="textarea is-medium"></textarea>
							</div>
						</div>
						<div class="control">
							<button type="submit" onclick="emailSent()" class="button is-link is-fullwidth has-text-weight-medium is-medium">
                                Send Message
                            </button>
						</div>
					</div>
				</div>
			</div>
		</div>
            </div>
	</section>
    <script>
        function emailSent() {
            alert("Your message has been sent!");
        }
    </script>
{% endblock content %}