{% extends 'base.html' %}
{% block title %}LinkUp {% endblock title %} //modifying the title

{% block content %}
    {% if admin %}
        <section class="section">
            <div class="column">
                <div class="box">
                    <h2 class="">
                        Admin Controls
                    </h2>
                    <hr/>
                    <div class="notification is-dark">
                        <center>
                            <a class="button is-info">Invite Guest</a>
                            <a class="button is-info">Add an Admin</a>
                            <a class="button is-info">Create SubEvent</a>
                        </center>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="section">
        <div class="column">
            <div class="box">
                <h1 class="title">{{event.title}}</h1>
                <hr/>
                <div class="level">
                    <div class="level-left">
                        <a class="button is-info">Set Availability</a>
                    </div>
                </div>
                <div class="panel">
                    <p class="panel-heading has-background-info">
                        My Availability for {{event.title}}
                    </p>
                    {% include "core/availability_calendar.html" %}
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="columns is-multiline">
            <div class="column">
                <div class="panel">
                    <p class="panel-heading has-background-info">
                        Event Description
                    </p>
                    <div class="panel-block">
                        {{ event.description }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="panel">
                    <p class="panel-heading has-background-info">
                        <a class="button is-pulled-right is-small">+ Add Members</a> <!--TODO-->
                        Attendees
                    </p>
                    {% for members in event.members.all %}
                    <div class="panel-block">
                        {{ members }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="columns is-multiline">
                    <!--TODO-->
            <div class="column is-6">
                <div class="panel">
                    <p class="panel-heading has-background-info">
                        Available
                    </p>
                    <div class="panel-block">
                        Unsure how to handle
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="panel">
                    <p class="panel-heading has-background-info">
                        Not Available
                    </p>
                    <div class="panel-block">
                        Unsure how to handle
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}