{% extends 'base.html' %} {% block title %}LinkUp {% endblock title %} //modifying the title {% block content %}
<script type='text/javascript'>
    function sendEmail() {
        let invitee_email = $("#invitee_email").val();
        let data = {
            "invitee_email": invitee_email,
            "event_id": "{{event.event_id}}"
        };

        $.ajax({
            headers: {
                "X-CSRFToken": CSRF_TOKEN
            },
            type: "POST",
            url: "/send_email/",
            data: data,
        }).done(function(res) {
            // clear text
            $("#invitee_email").val('');
        });
    }
</script>
{% load static %}
<script type="text/javascript" src="{% static '/js/EditEvent.js' %}"></script>
<script type="text/javascript" src="{% static '/js/InviteGuestTrigger.js' %}"></script>

<section class="section">
    <div class="section">
        <div class="columns">
            <aside class="column is-2">
                <nav class="menu">
                    <p class="menu-label is-size-5">
                        General
                    </p>
                    <hr/>
                    <ul class="menu-list">
                        <li>
                            <a class="is-size-4" href="/my_events">
                                    My Events
                                </a>
                            <ul>
                                {% for event in user_events %}
                                <li>
                                    {% if event.event_id == event_id %}
                                    <a class="is-active is-size-4" href="/event_page/{{ event.event_id }}">{{ event.title }}</a> {% else %}
                                    <a class="is-size-4" href="/event_page/{{ event.event_id }}">{{ event.title }}</a> {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            <a id="createEvent" class="button is-size-4"> + Create An Event</a> {% include 'core/create_event_modal.html' %}
                        </li>
                    </ul>
                    <p class="menu-label is-size-5">
                        Availability
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="is-size-4" href="/my_availability">
                                    Adjust Your Availability
                                </a>
                            <ul>
                                <li>
                                    <a href="/my_availability/google_calendar/" class="is-size-4">
                                        Import From Google Calendar
                                        </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% if admin %}
                    <p class="menu-label is-size-5">
                        Admin Controls
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="is-size-4" onclick="openInviteModal()">
                                Invite Guest
                            </a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="is-size-4 dropdown-toggle" data-toggle="dropdown">Add An Admin<span class="caret"></span>   </a>
                                <ul class="dropdown-menu" style="background-color: whitesmoke" id="myDropdown">
                                    <input class="input is-rounded glyphicon-search " placeholder="    Search..." style="color: black" id="myInput" onkeyup="filterFunction()"> {% for member in event.members.all %} {% if member not in event.admins.all %}
                                    <li><a href="" style="color: black" onclick="AddAdmin()" id="member">{{ member }}</a></li>
                                    {% endif %} {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </nav>
            </aside>
            <div class="column is-four-fifths">
                <div class="box">
                    {% if admin %}
                    <i class="fa fa-gear fa-spin"></i>
                    <h1 class="title" contenteditable="true" id="EventTitle">{{event.title}}</h1> {% else %}
                    <h1 class="title">{{event.title}}</h1> {% endif %}
                    <hr/>
                    <div class="level">
                        <div class="level-left">
                            <a class="button is-info">Set Availability</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <header class="card-header has-background-info">
                            <p class="card-header-title is-size-3">
                                Group Availability
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                {% include "core/event_calendar.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <header class="card-header has-background-info">
                            <p class="card-header-title is-size-3">
                                My Availability
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                {% include "core/availability_calendar.html" %}
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/my_availability/google_calendar/" id="a-import-from-google-calendar" class="card-footer-item is-size-4">
                                Import From General Availability
                            </a>
                            <button id="btn-save-availability" class="card-footer-item is-pulled-right is-size-4">Save Event Availability</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns is-multiline">
        <div class="column">
            <div class="panel">
                {% if admin %}
                <p class="panel-heading has-background-info"><i class="fa fa-gear fa-spin"></i> Event Description
                </p>
                <div class="panel-block" id="EventDescription" contenteditable="true">
                    {{ event.description }}
                </div>
                {% else %}
                <p class="panel-heading has-background-info">
                    Event Description
                </p>
                <div class="panel-block">
                    {{ event.description }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="panel">
                <p class="panel-heading has-background-info">
                    <a class="button is-pulled-right is-small" onclick="openInviteModal()">+ Add Members</a>
                    <!--TODO-->
                    Attendees
                </p>
                {% for members in event.members.all %}
                <div class="panel-block">
                    {{ members.first_name }} {{ members.last_name }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="columns is-multiline">
        <!--TODO-->
        <div class="column is-6">
            <div class="panel">
                <p class="panel-heading has-background-info">
                    Available
                </p>
                <div class="panel-block">
                    Optimal starting times from best to worst:
                    <br /> {% for a,b in time_list %} {{a}} with members {{b}}
                    <br /> {% endfor %}
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="panel">
                <p class="panel-heading has-background-info">
                    Not Available
                </p>
                <div class="panel-block">
                    Unsure how to handle
                </div>
            </div>
        </div>
    </div>
</section>

<!-- The Modal Add an Admin -->
<div id="AdminModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" id="AdminContent">
        <div class="modal-header" id="AdminHeader">
            <span class="close"></span>
            <center>
                <h1 style="font-size: x-large">Add Administrator for the Event</h1>
            </center>
            <br>
        </div>
        <div class="modal-body" id="AdminBody">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <p>Choose Admins from the following list:</p>
                </div>

                <div class="col-sm-6">
                    {% for members in event.members.all %}
                    <div class="panel-block">
                        <label class="checkbox">
                            <input type="checkbox"> {{ members }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <! -- end of row -->
            <div class="row">
                <p>--------------------------------------------------- or -----------------------------------------------------------</p>
                <center>
                    <a class="button is-info is-size-6-touch" style="background-color: orange">Add</a>
                </center>
            </div>
            <! -- End of second row -->
        </div>
        <div class="modal-footer" id="AdminFooter">
            <h3></h3>
        </div>
    </div>
</div>
<!-- End modal -->

<!-- Invite Guest Modal -->
<div id="inviteModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" id="InviteContent">
        <div class="modal-header" id="InviteHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeInviteModal()">
                <span aria-hidden="true">&times;</span>
            </button>
            <center>
                <h1 style="font-size: x-large">Invite Guests</h1>
            </center>
            <br>
        </div>

        <div class="modal-body" id="InviteBody">
            <center>
                <h3>Guest Email:</h3>
                <form method="" id="container" onsubmit="sendEmail()">
                    <input id="invitee_email" type="email" />
                    <input type="submit" value="Send Email" />
                </form>
            </center>
        </div>
        <div class="modal-footer" id="InviteFooter">
            <br>
        </div>
    </div>
</div>
<!-- End modal -->
{% endblock content %}