{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
    <br>
    <br>
      {% if user.is_authenticated %}
          <div class="columns">
      <div class="column is-one-fifth">
          <br>
        <div class="card is-right">
      <header class="card-header">
        <p class="card-header-title is-capitalized">
          Hello {{ user.first_name }} {{ user.last_name }}!
        </p>
        <a href="/my_account" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <img src="{% static '/images/myAccountIcon.png' %}"/>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
            {% if no_user_events %}
                <br>
                <p class="has-text-centered">
                    It looks like you aren't apart of any events!
                    <br>
                    Please create your first event!
                </p>
                <br>
            {% else %}
                {% for event in user_events %}
                     <ul>
                        <li>
                           <a class="is-size-3" href="/event_page/{{ event.event_id }}">
                           {{ event.title }}
                           </a>
                            <p>{{ event.description }}</p>
                        </li>
                     </ul>
                {% endfor %}
          {% endif %}
        </div>
      </div>
      <footer class="card-footer">
        <a id="createEvent" class="card-footer-item is-capitalized">
            Click Here To Create A New Event!
        </a>
      </footer>
    </div>
                </div>
      <div class="column is-four-fifths">
            <section class="hero is-medium is-bold">
        <div class="hero-body ">
            <div class="container">
                <div style="padding-left: 45px">
                    <img src="/static/images/LinkUpLogoTransBack.png" width="700" height="800"/>
                </div>
            </div>
        </div>
    </section>
      </div>
    </div>
      {% else %}
      <section class="hero is-medium is-bold">
        <div class="hero-body ">
            <div class="container">
                <div style="">
                    <center>
                        <img src="/static/images/LinkUpLogoTransBack.png" width="700" height="800"/>
                    </center>
                </div>
                <center>
                    <a class="button is-info is-size-4" href="{% provider_login_url 'google' %}">
                        Sign in with Google
                    </a>
                </center>
            </div>
        </div>
    </section>
    {% endif %}


{% endblock content %}