{% extends 'base.html' %}
{% block content %}

<!-- BEGIN Pre-requisites -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
</script>
<!-- END Pre-requisites -->

<!-- Continuing the <head> section -->
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '669614465567-ng7l50r11u0pson5f4kj5oedk23b0r9n.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script>



<section class="section">
   <div class="section">
    <nav class="breadcrumb has-succeeds-separator is-large has-background-white" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/my_events/">My Events</a></li>
          <li><a href="/my_availability/" class="is-active" aria-current="page">My Unavailability</a></li>
      </ul>
    </nav>
      <div class="columns">
        <aside class="column is-2">
            <nav class="menu">
               <p class="menu-label is-size-5">
                  General
               </p>
               <hr/>
               <ul class="menu-list">
                  <li>
                     <a class="is-size-4" href="/my_events">
                     My Events
                     </a>
                     <ul>
                        {% for event in user_events %}
                        <li>
                           <a class="is-size-4" href="/event_page/{{ event.event_id }}">{{ event.title }}</a>
                        </li>
                        {% endfor %}
                     </ul>
                     <a class="button is-size-4" > + Create An Event</a>
                  </li>
               </ul>
               <p class="menu-label is-size-5">
                  Unavailability
               </p>
               <ul class="menu-list">
                  <li>
                     <a class="is-active is-size-4" href="/my_availability">
                     Adjust Your Unavailability
                     </a>
                      <ul>
                        <li>
                            <a href="/my_availability/google_calendar/" class="is-size-4">
                                Import From Google Calendar
                            </a>
                        </li>
                          <li>
                              <a class="is-size-4">Save Unavailability</a>
                          </li>
                     </ul>
                  </li>
               </ul>
            </nav>
        </aside>
      <div class="column is-four-fifths">
          <div class="card">
              <header class="card-header has-background-info">
                <p class="card-header-title is-size-3">
                  My Unavailability
                </p>

              </header>
               <p class="card-header-title is-size-5">
                  Please block out the times you are busy.
                </p>
              <div class="card-content">
                <div class="content">
                  {% include "core/availability_calendar.html" %}
                </div>
              </div>
              <footer class="card-footer">
                    <a id="a-import-from-google-calendar" class="card-footer-item is-size-4">
                            Import From Google Calendar
                    </a>
                  <button id="btn-save-availability" class="card-footer-item is-pulled-right is-size-4">Save My Unavailability</button>
              </footer>
          </div>
      </div>
        <!-- Add where you want your sign-in button to render -->
        <!-- Use an image that follows the branding guidelines in a real app -->
        <script>
            $('#a-import-from-google-calendar').click(function() {
                auth2.grantOfflineAccess().then(importCallback);
            });
        </script>
          <!-- Last part of BODY element in file index.html -->
        <script>
        function importCallback(authResult) {
          if (authResult['code']) {

            // Send the auth code to the server
            $.ajax({
              headers: {
                "X-CSRFToken": CSRF_TOKEN
              },
              type: 'POST',
              url: 'google_calendar/',
              data: { "auth_code": authResult['code'] },
              success: function(result) {
                const newDoc = document.open("text/html", "replace");
                newDoc.write(result);
                newDoc.close();
              },
            });
          } else {
              alert("Failed to authenticate. Please try again or set availability manually.");
          }
        }
        </script>
      </div>
   </div>
</section>
{% endblock %}