{% extends 'base.html' %}
{% block title %}LinkUp {% endblock title %} //modifying the title
{% block content %}
<!-- Need to make different versions of page for google vs email account -->
<section class="section">
    <div class="section">
        <div class="columns is-8">
            <aside class="column is-3">
                <nav class="menu">
                    <div class="is-centered">
                        <p class="menu-label is-size-1 text-center">
                            Account Options
                        </p>
                    </div>
                    <hr/>
                    <ul class="menu-list">
                        <li><a class="is-active is-size-4"  href="/my_account">Profile</a></li>
                        <li><a class="is-size-4"            href="/password_change">Change Password</a></li>
                        <li><a class="is-size-4"            href="/privacy_policy">Privacy Policy</a></li>
                    </ul>
                </nav>
            </aside>
            <aside class="column">
                <p class="heading is-size-1 is-centered text-center">
                    Your Profile
                </p>
                <hr/>
                <div class="columns">
                    <aside class="column"><p></p></aside>
                    <aside class="column text-center is-centered">
                        <div class="box">
                            <p class="text-left" style="font-size: 14px">
                                Display name: {{user.first_name}} {{user.last_name}}
                            </p>
                            <p class="text-left" style="font-size: 14px">
                                <br>
                                Email: {{user.email}}
                            </p>
                            <hr/>
                            <a class="button is-info" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Change Info</a>
                        </div>
                        <div class="modal fade login" id="loginModal">
                            <div class="modal-dialog login animated">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Edit Info</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="box">
                                            <div class="box">
                                                <div class="content">
                                                    <div class="error"></div>
                                                    <div class="form loginBox">
                                                        <form method="post" action="/login_user/" accept-charset="UTF-8">
                                                            {% csrf_token %}
                                                            <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                                            <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                                            <input class="btn btn-default btn-login" type="submit" value="Login" >
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content registerBox" style="display:none;">
                                                <div class="form">
                                                    <form method="post" html="{:multipart=>true}" data-remote="true" action="/update_user/" accept-charset="UTF-8">
                                                        {% csrf_token %}
                                                        <input id="first_name" class="form-control" type="text" placeholder="First Name" name="first_name">
                                                        <input id="last_name" class="form-control" type="text" placeholder="Last Name" name="last_name">
                                                        <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                                        <input class="btn btn-default btn-register" type="submit" value="Update" name="commit">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="column"><p></p></aside>
                </div>

            </aside>
        </div>
    </div>
</section>
{% endblock content %}