{% extends 'base.html' %}

{% block content %}
<br><br>

<div class="column">
    <div class="has-text-centered">
        <a href="google_calendar/" id="a-import-from-google-calendar" class="button has-text-centered">
            Import From Google Calendar
        </a>
        <button id="btn-save-availability" class="button has-text-centered">Save Availability</button>
    </div>

    <div class="availability-container">
        <br><br>
        <div class="panel">
            <p class="panel-heading has-background-info">
                My Availability
            </p>
            {% include "core/availability_calendar.html" %}
        </div>
    </div>
</div>
{% endblock %}