{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}LinkUp {% endblock title %} //modifying the title
{% block content %}
<!-- Need to make different versions of page for google vs email account -->
<section class="section">
    <div class="section">
        <nav class="breadcrumb has-succeeds-separator is-large has-background-white" aria-label="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/my_account/" class="is-active" aria-current="page">My Account</a></li>
          </ul>
        </nav>
        <div class="columns is-8">
            <aside class="column is-3">
                <nav class="menu">
                    <div class="is-centered">
                        <p class="menu-label is-size-1 text-center">
                            Account Options
                        </p>
                    </div>
                    <hr/>
                    <ul class="menu-list">
                        <li><a class="is-active is-size-4"  href="/my_account">Profile</a></li>
                        <li><a class="is-size-4"            href="/password_change">Change Password</a></li>
                    </ul>
                </nav>
            </aside>
            <aside class="column">
                <p class="heading is-size-1 is-centered text-center">
                    Your Profile
                </p>
                <hr/>
                <div class="columns">
                    <aside class="column"><p></p></aside>
                    <aside class="column text-center is-centered">
                        <div class="box">
                            <p class="text-left" style="font-size: 14px">
                                Display name: {{user.get_full_name}}
                            </p>

                            <hr/>
                            <p class="text-left" style="font-size: 14px">
                                Email: {{user.email}}
                            </p>
                            <hr/>
                            <!-- I can't get a modal working to save my life. F%$k web development. -->
                            <a class="button" href="/change_name_form">Change Name</a>
                        </div>
                    </aside>
                    <aside class="column"><p></p></aside>
                </div>

            </aside>
        </div>
    </div>
</section>
{% endblock content %}