{% extends 'base.html' %}
{% block title %}LinkUp {% endblock title %} //modifying the title
{% block content %}
<--! Currently not in use -->
<section class="section">
    <div class="section">
        <div class="columns">
            <aside class="column is-3">
                <nav class="menu">
                    <div class="is-centered">
                        <p class="menu-label is-size-1 text-center">
                            Account Options
                        </p>
                    </div>
                    <hr/>
                    <ul class="menu-list">
                        <li><a class="is-size-4" href="/my_account">Profile</a></li>
                        <li><a class="is-active is-size-4" href="/password_change">Change Password</a></li>
                    </ul>
                </nav>
            </aside>
            <aside class="column">
                <p class="heading is-size-1 is-centered text-center">
                    Change Password
                </p>
                <hr/>
                <div class="columns">
                    <aside class="column"></aside>
                    <aside class="column">
                        <div class="box">
                           <form method="post">
                               {% csrf_token %}
                               {{ form }}
                               <button type="submit">Save changes</button>
                           </form>
                        </div>
                    </aside>
                    <aside class="column"></aside>
                </div>

            </aside>
        </div>
    </div>
</section>
{% endblock content %}