{% extends 'base.html' %}
{% block title %}LinkUp {% endblock title %} //modifying the title
{% block content %}
<section class="section">
    <div class="section">
        <div class="columns">
            <aside class="column is-3">
                <nav class="menu">
                    <div class="is-centered">
                        <p class="menu-label is-size-1 text-center">
                            Account Options
                        </p>
                    </div>
                    <hr/>
                    <ul class="menu-list">
                        <li><a class="is-size-4" href="/my_account">Profile</a></li>
                        <li><a class="is-size-4" href="/password_change">Change Password</a></li>
                        <li><a class="is-active is-size-4" href="/privacy_policy">Privacy Policy</a></li>
                    </ul>
                </nav>
            </aside>
            <aside class="column">
                <p class="heading is-size-1 is-centered text-center">
                    Privacy Policy
                </p>
                <hr/>
                <p class="field-body" style="font-size: 12px">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis ornare porttitor. Sed quis nunc eu est tristique suscipit. Mauris a eros magna. Vivamus eu sem tellus. Proin congue malesuada consectetur. Vestibulum vitae consectetur ipsum, in suscipit magna. Curabitur id eros cursus, posuere felis ut, tristique tortor. Sed scelerisque ullamcorper turpis, rhoncus dignissim massa iaculis ac. Nullam efficitur neque in lacinia rutrum. Vivamus pellentesque, orci non condimentum porttitor, felis sem tristique urna, nec interdum arcu massa eu risus. Proin mauris velit, gravida mattis mattis et, pretium sit amet massa.
                    <br><br>
                    Nam laoreet lectus et scelerisque elementum. Nulla facilisi. Nulla blandit, urna nec condimentum luctus, lorem felis pharetra purus, eget pharetra ex mauris vel neque. Nam dui sapien, pharetra ac urna ut, accumsan condimentum erat. In euismod est non porta iaculis. Integer laoreet non tellus tincidunt faucibus. Phasellus at tempor massa. Nullam vel congue sapien. Nullam aliquam urna lacus, in pretium ante aliquet ut. Donec porttitor leo non pulvinar vehicula. Quisque et mi massa.
                    <br><br>
                    Vivamus ornare nibh at ante lobortis ultricies. Fusce non facilisis risus, ac dapibus augue. Donec libero risus, ultrices ut luctus at, luctus sed magna. Curabitur consectetur quam at libero vestibulum facilisis. Nam dolor neque, pellentesque sit amet sem et, luctus sodales nibh. Aliquam a nulla ante. Aliquam auctor justo vitae nunc tristique, sed varius lacus mattis. Morbi id tortor nisi. Aliquam quis felis ultrices, viverra massa at, auctor est.
                </p>
            </aside>
        </div>
    </div>
</section>
{% endblock content %}