<html>
    <a class="button is-info" id="signUp" href="#signUpModal">
        <strong>Sign Up Now!</strong>
    </a>
    <a class="button is-light" id="login" href="#loginModal">
        <strong>Login</strong>
    </a>
    <div id="signUpModal">
        <div class="close-signUpModal"><span class="fa fa-close"></span>X</div>
        <div class="modal-content">
            <div class="thum">

            </div>
        </div>
    </div>
    <div id="loginModal">
        <div class="close-loginModal"><span class="fa fa-close"></span>X</div>
        <div class="modal-content">
            <div class="thum">

            </div>
        </div>
    </div>
</html>
