{# HTML5 declaration #}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
	{# Make modifiable head elements #}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

     // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

     // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    }
        });
    </script>


	<head>
		<title>{% block title %} Home {% endblock title %} </title>
		{% block head_favicon %}
		<link rel="icon" type="image/png"
			href="{{ STATIC_URL }}images/favicon.ico">
		{% endblock head_favicon %}
		{% block head_meta %}
		{% block head_meta_charset %}
		<meta http-equiv="Content-Type"
			content="text/html; charset=utf-8" />
		{% endblock head_meta_charset %}
		{% block head_meta_contentlanguage %}
		<meta http-equiv="Content-Language" value="en-US" />
		{% endblock head_meta_contentlanguage %}
		{% block head_meta_viewport %}
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0">
		{% endblock head_meta_viewport %}
		{% endblock head_meta %}
		{% block head_css %}
		{% block head_css_site %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bulma@0.8.0/css/bulma.min.css,npm/bulma@0.8.0/css/bulma.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
            <link rel="stylesheet" href="httpma@0.8.0/css/bulma.min.css">
            <link rel="stylesheet" href="static/css/bulmaHelper.css">
            <link rel="stylesheet" href="static/css/animatedModal.css">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
		{% endblock head_css_site %}
		{% block head_css_section %}{% endblock head_css_section %}
		{% block head_css_page %}{% endblock head_css_page %}
		{% endblock head_css %}
	</head>
	<body>
		{# Navigation Menu #}
		<header>
			{% block nav-style %} {% endblock %}
			<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a class="" href="/">
					<img src="/static/images/LinkUpWchainbox.png" height="140px" width="180px">
					</a>
					<a role="button" class="navbar-burger burger" data-target="navbar" aria-label="menu" aria-expanded="false">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					</a>
				</div>
				<div id="navbar" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="/"> Home </a>
						<a class="navbar-item" href="/my_events/{{ user_name }}"> My Events </a>
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link"> More </a>
							<div class="navbar-dropdown">
								<a class="navbar-item" href="about"> About </a>
								<a class="navbar-item" href="/my_account"> My Account </a>
								<a class="navbar-item" href="support"> Support </a>
								<hr class="navbar-divider">
								<a class="navbar-item" href="reportanissue"> Report an issue </a>
							</div>
						</div>
					</div>
					<div class="navbar-end">
						<div class="navbar-item">
							<div class="buttons">
								{% if user.is_authenticated %}
								<a class="button is-info" href="/accounts/logout/">
										<strong>Log out, {{user.username}}</strong>
								</a>
								{% else %}
								<a class="button is-info" id="signUpNav" href="#signUpNavModal">
								<strong>Sign Up</strong>
								</a>
								<a class="button" id="loginNav" href="#loginNavModal">
								<strong>Login</strong>
								</a>

								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		{# The Document Body #}
		<div id="site-wrapper">
			{% block content %}
			if you see this, something is wrong!
			{% endblock content %}
		</div>
		{# The Footer #}
		<div class="footer">
			<nav class="level">
				<div id="signUpNavModal">
					<div class="close-signUpNavModal has-text-centered"><span class="fa fa-close"></span>X</div>
					<div class="modal-body">
						<center><form>
							  <div class="form-group">
								<label for="exampleInputEmail1" style="font-size:18px; padding-right:5px;">Email address:</label>
								<input type="email" class="form-control" style="font-size:18px;" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							  </div><br>
							  <div class="form-group">
								<label for="exampleInputPassword1" style="font-size:18px; padding-right:35px;">Password:</label>
								<input type="password" class="form-control" style="font-size:18px;" id="exampleInputPassword1" placeholder="Password">
							  </div><br>
							  <button type="submit" class="btn btn-primary" style="font-size:18px;">Sign Up</button>
						</form></center>
					</div>

					<div class="modal-content">
						<div class="thum">
							<a style="font-size:18px;" href="{% provider_login_url "google" %}">Sign up with Google</a>
						</div>
					</div>
				</div>
				<div id="loginNavModal">
					<div class="close-loginNavModal has-text-centered"><span class="fa fa-close"></span>X</div>
					<center><form>
							   <div class="form-group">
								<label for="exampleInputEmail2" style="font-size:18px; padding-right:5px;">Email address:</label>
								<input type="email" class="form-control" style="font-size:18px;" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
							  </div><br>
							  <div class="form-group">
								<label for="exampleInputPassword2" style="font-size:18px; padding-right:35px;">Password:</label>
								<input type="password" class="form-control" style="font-size:18px;" id="exampleInputPassword2" placeholder="Password">
							  </div><br>
							  <button type="submit" class="btn btn-primary" style="font-size:18px;">Log In</button>
					</form></center>

					<div class="modal-content">
						<div class="thum">
							<a style="font-size:18px;" href="{% provider_login_url "google" %}">Log in with Google</a>
						</div>
					</div>
				</div>
				<p class="level-item has-text-centered">
					<a class="link is-info" href="about">About Us</a>
				</p>
				<p class="level-item has-text-centered">
					<a class="link is-info" href="donate">Donate</a>
				</p>
				<p class="level-item has-text-centered">
					<img src="/static/images/LinkUpWchainbox.png" alt="" height="140px" width="180px">
				</p>
				<p class="level-item has-text-centered">
					<a class="link is-info" href="contact">Contact</a>
				</p>
				<p class="level-item has-text-centered">
					<a class="link is-info" href="reportanissue">Report An Issue</a>
				</p>
			</nav>
			<hr/>
		</div>
	</body>
	{# Set of blocks that can be used to display JavaScript files #}
	{% block footer_javascript %}
	{% block footer_javascript_site %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/app.js"></script>
        <script src="static/js/animatedModal.min.js"></script>
        <script src="static/js/animatedModal.js"></script>
        <script src="static/js/signUp.js"></script>
	{% endblock footer_javascript_site %}
	{% block footer_javascript_section %}
	{% endblock footer_javascript_section %}
	{% block footer_javascript_page %}
	{% endblock footer_javascript_page %}
	{% endblock footer_javascript %}
</html>