#a-import-from-google-calendar {
    background: limegreen;
}

#btn-save-availability {
    background: lightblue;
}

tbody{
    display:block;
    overflow-y:scroll;
    overflow-x: scroll;
    height:500px;
}

thead tr{
    height:20px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

table {
    border-collapse: collapse;
}

th, td {
    width: 120px;
}

tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

td.busy-time {
    background-color: #f6352a;
    border-bottom: 1px double #f6352a;
}

td.free-time {
}

.hide-scroll {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.hide-scroll::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}