body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
#myModal.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place fixed */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* padding-top: 100px; Location of the box 100px %*/
  left: 0; /*    */
  top: 0;
  width: 100%; /* Full width 100% */
  height: 100%; /* Full height 100% */
  overflow: hidden; /* Enable scroll if needed  overflow used to be  auto */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#createcontent.modal-content{
  position: relative; /* Black w/ opacity */
  background-color: #fefefe;
  margin: auto;  /* margin auto */
  padding: 0;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  border: 1px solid #888;
  border-radius: 20px;  /* For borders rounder */
  width: 40%; /* Controls the size of the modal */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
#closecreateevent.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#create\ header.modal-header{
  padding: 2px 16px;
  background-color: #4d97d7;
  color: white;
  font-family: Courier, Beirut, serif;
}

#createbody.modal-body{padding: 2px 16px;}

.red-star{
  color: red;
}


#createfooter.modal-footer{
  padding: 2px 16px;
  background-color: #4d97d7;
  color: white;
}